<div class="card card0 border-0">
  <div class="row d-flex">
      <div class="col-lg-6">
          <div class="card1 pb-5">
              <div class="row"> <img src="/assets/bison.png" class="logo"> </div>
          </div>
      </div>
      <div class="col-lg-6">
          <div class="card2 card border-0 px-4 py-5">
            <h2>About Us</h2><hr>
            <p>You can craft a narrative for your About Us page by using the following formula:</p>
            <li><strong>Set the scene.</strong>  Introduce the characters or setting, and establish the status quo or “the way things were” for you,
              your target customer, or your industry.</li>
            <li><strong>Introduce the problem.</strong>  Describe the problem that called you (the main character) to act.</li>
            <li><strong>Rise to the challenge.</strong>  Explain how you set out to find a solution (i.e., start your business) and the obstacles
              you faced along the way.</li>
            <li><strong>Arrive at a solution.</strong>  Share details of how your business is pursuing its purpose and the milestones you’ve hit.
            </li>
            <li><strong>Envision what’s next.</strong>  Paint a picture of the future for your company or state its mission and goals.</li>
          </div>
      </div>
  </div>

</div>

<div class="row d-flex justify-content-center align-items-center rows">
  <div class="col-md-6">
      <div class="card">
          <div class="text-center"> <img src="https://i.imgur.com/Dh7U4bp.png" width="200"> <span class="d-block mt-3">Subscribe to our newsletter in order not to miss new arrivals <br> promotions and discounts of our store</span>
              <div class="mx-5 row-flex">
                  <div class="input-group mb-3 mt-4"> <input type="text" class="form-control" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="button-addon2"> <button class="btn btn-success border-rad" type="button" id="button-addon2">Subscribe</button> </div>
              </div>
          </div>
      </div>
  </div>
</div>
